<p id="notice"><%= notice %></p>
<%= render "form" %>
<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>To user:</b>
  <%= @message.to_user_id %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @message.timestamp %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
